# Allowed account aliases: isa, invest
# Configure one or both, e.g. `isa` or `isa,invest` or `invest,isa`.
212_ACCOUNTS=isa,invest
212_DEFAULT_ACCOUNT=isa

212_ISA_API_KEY_ID=<ENTER_ISA_API_KEY>
212_ISA_API_KEY_SECRET=<ENTER_ISA_API_SECRET>
212_ISA_API_BASE_LIVE_URL=https://live.trading212.com/api/v0/

212_INVEST_API_KEY_ID=<ENTER_INVEST_API_KEY>
212_INVEST_API_KEY_SECRET=<ENTER_INVEST_API_SECRET>
212_INVEST_API_BASE_LIVE_URL=https://live.trading212.com/api/v0/
